footer {
  background-color: #202020;
  color: #ebebeb;
  padding: 1rem 0 1.5rem;
  margin-top: 3rem;
}

footer .footer {
  max-width: 1200px;
  margin: 0 auto;
  
}


.footer > div {
  
  display: grid;
  grid-template-columns: auto 50% auto;
  grid-template-rows: auto;
  grid-template-areas:
          "brand nav follow"
          "disc disc disc";
}


/* Assign areas */
/* Assign grid areas using nth-child */
footer .section:nth-child(1) {
  grid-area: brand;
}

footer .section:nth-child(2) {
  grid-area: nav;
  padding-left: 40px;
}

footer .section:nth-child(3) {
  grid-area: follow;
  text-align: right;
}

footer .section:nth-child(4) {
  grid-area: disc;
}

footer ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  
}

footer li {
  display: block;
  float: left;
  color: #202020;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 17px;
  text-decoration: none;
}

.footer a {
  color: white;
}

footer .footer p {
  margin: 0;
  font-size: var(--body-font-size-xs);
  line-height: 1.25;
}
footer .footer img{
  height:48px;
  width:120px;
}

footer p{
  padding-top:15px;
}